/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --red-color: #ff0000;
  --blue-light-color: #e4e9f7;
  --grey-light-color: #f3f3f9;
  --text-color: #000;
  --grey-light-color-2: #f3f3f9;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =============== START SIDEBAR ====================*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--blue-light-color);
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

/* =============== START SIDEBAR LOGO ====================*/
.sidebar__logo {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar__logo i {
  font-size: 50px;
  color: var(--blue-color);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar__logo .sidebar__logo-title {
  font-size: 24px;
  color: var(--blue-color);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .sidebar__logo .sidebar__logo-title {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

/* =============== END SIDEBAR LOGO ====================*/

/* =============== START SIDEBAR NAV ====================*/
.sidebar__nav {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .sidebar__nav {
  overflow: visible;
}

.sidebar__nav::-webkit-scrollbar {
  display: none;
}

.sidebar__nav li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  margin-top: 8px;
}
.sidebar__nav li:hover {
  background: var(--blue-color);
}
.sidebar__nav li .sidebar__link-dropdown a {
  pointer-events: none;
}
.sidebar__nav li:hover i {
  color: var(--white-color);
}
.sidebar__nav li:hover a .sidebar__nav-title {
  color: var(--white-color);
  pointer-events: auto;
}

.sidebar__nav li .sidebar__link-dropdown,
.sidebar__nav li .sidebar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .sidebar__nav li .sidebar__link-dropdown,
.sidebar__nav li .sidebar__link {
  display: block;
}
.sidebar__nav li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--grey-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar__nav .sidebar__nav-submenu .active {
  opacity: 1;
}
.sidebar__nav li.showMenu i.arrow {
  transform: rotate(-90deg);
}
.sidebar__nav li.showMenu {
  background: var(--blue-color);
}
.sidebar__nav li.showMenu .sidebar__link-dropdown .sidebar__nav-title {
  color: var(--white-color);
}
.sidebar__nav li.showMenu .sidebar__link-dropdown i {
  color: var(--white-color);
}
.sidebar.close .sidebar__nav i.arrow {
  display: none;
}
.sidebar__nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar__nav li a .sidebar__nav-title {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey-color);
  transition: all 0.4s ease;
}
.sidebar.close .sidebar__nav li a .sidebar__nav-title {
  opacity: 0;
  pointer-events: none;
}
.sidebar__nav li .sidebar__nav-submenu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: var(--blue-color);
  display: none;
}
.sidebar__nav li.showMenu .sidebar__nav-submenu {
  display: block;
}

.sidebar__nav li .sidebar__nav-submenu a {
  color: var(--white-color);
  font-size: 15px;
  padding: 2px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar__nav li .sidebar__nav-submenu a:hover {
  opacity: 1;
}
.sidebar.close .sidebar__nav li .sidebar__nav-submenu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 0px 20px 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .sidebar__nav li:hover .sidebar__nav-submenu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar__nav li .sidebar__nav-submenu .sidebar__nav-title {
  display: none;
}
.sidebar.close .sidebar__nav li .sidebar__nav-submenu .sidebar__nav-title {
  font-size: 18px;
  opacity: 1;
  display: block;
}

/* =============== END SIDEBAR NAV ====================*/

/* =============== START SIDEBAR PROFILE ====================*/

.sidebar .sidebar__profile {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue-light-color);
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .sidebar__profile {
  background: none;
}
.sidebar.close .sidebar__profile {
  width: 78px;
}
.sidebar .sidebar__profile .sidebar__profile-content {
  display: flex;
  align-items: center;
}
.sidebar .sidebar__profile img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: var(--blue-light-color);
  transition: all 0.5s ease;
}
.sidebar.close .sidebar__profile img {
  padding: 5px;
}
.sidebar .sidebar__profile .sidebar__profile-name,
.sidebar .sidebar__profile .sidebar__profile-job {
  color: var(--grey-color);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .sidebar__profile i,
.sidebar.close .sidebar__profile .sidebar__profile-name,
.sidebar.close .sidebar__profile .sidebar__profile-job {
  display: none;
}
.sidebar .sidebar__profile .sidebar__profile-job {
  font-size: 12px;
}
/* =============== END SIDEBAR PROFILE ====================*/

/* =============== END SIDEBAR ====================*/

/* =============== START HEADER DASHBOARD ====================*/

.main {
  position: relative;

  background: var(--grey-light-color-2);

  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .main {
  left: 78px;
  width: calc(100% - 78px);
}
.main__header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main__header-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 5px;
  background: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.header__search .header__search-input {
  font-size: 16px;
  color: #333333;
  margin-left: 14px;
  border: none;
  outline: none;
  background: transparent;
  width: 400px;
}

.header__search-input::placeholder,
.header__search-icon {
  color: rgba(0, 0, 0, 0.5);
}
.header__search-icon {
  font-size: 28px;
}
.main__header .bx-menu,
.main__header .text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 38px;
}
.main__header .bx-menu {
  margin: 0 20px 0 10px;
  cursor: pointer;
}
.main__header.text {
  font-size: 26px;
  font-weight: 600;
}

.main__header-action {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header__action-icon .icon {
  font-size: 28px;
  color: #878a99;
  margin-right: 10px;
  padding: 10px;
}
.header__action-icon .bx-moon:hover {
  background: var(--blue-light-color);
  border-radius: 50%;
}

.main__header-action .badge {
  position: fixed;
  top: 18px;
  right: 7.5%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  background: var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 10px;
  font-weight: 700;
}

.main__header-profile {
  position: relative;
  display: flex;
  align-items: center;
}
.main__header-profile img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.header__language {
  width: 100px;
  font-weight: bold;
  margin-top: 25px;
  position: relative;
  display: flex;
  margin-right: 10px;
}
.header__lang-selected {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: space-between;
  line-height: 2;
  margin-bottom: 23px;
  cursor: pointer;
}
.header__lang-selected .text {
  margin-left: 4px;
  font-size: 16px;
}

/* =============== END HEADER DASHBOARD ====================*/


/* =============== START TABLE ====================*/

.table {
  margin: 0 15px;
  margin-top: 20px;
}

.table__container {
  width: 100%;
  background: var(--grey-light-color-2);
}

.table__header {
  display: flex;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  background-color: var(--white-color);
  border-bottom: 1px solid #dddddd;
}

.table__header p {
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.table__header-action {
  display: flex;
}
.table__header-search {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 8px;
  border-radius: 5px;
  background: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-right: 10px;
}

.table__header-search .header__search-input {
  font-size: 15px;
  color: #333333;
  border: none;
  outline: none;
  background: transparent;
  width: 250px;
}

.table__header-search .header__search-icon {
  font-size: 24px;
  margin-right: 5px;
}

.table__header-btn {
  padding: 10px;
  color: var(--white-color);
  background-color: #28a745;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
}

.table__header-btn span {
  font-size: 15px;
  margin-left: 3px;
}

.table__body {
  height: 100%;
}

.table__body table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: var(--white-color);
  border-radius: 5px;
}

.table__body thead th {
  position: sticky;
  top: 0px;
  padding: 12px;
  background-color: #f5f7fa;
  color: #8493a5;
  font-size: 15px;
}
.table__body thead th:first-child {
  width: 5%;
}
.table__body thead th:nth-child(3),
.table__body thead th:nth-child(4) {
  width: 20%;
}
.table__body thead th:last-child {
  width: 10%;
}
.table__body thead th,
.table__body tbody td {
  padding: 10px 20px;
  word-break: break-all;
}
.table__body thead tr {
  text-align: left;
}

.table__body tbody tr {
  border-bottom: 1px solid #dddddd;
}
.table__body tbody tr:hover {
  background-color: #f5f7fa;
}
.table__body .btn {
  font-size: 15px;
  color: var(--white-color);
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  margin-left: 3px;
}
.edit {
  background: #ffc107;
  color: #21251f !important;
}
.edit:hover {
  background: #e0a800;
}
.delete {
  background: #dc3545;
}
.delete:hover {
  background: #c82333;
}
.modal__btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  color: #fff;
}
.modal__btn-create {
  background-color: #28a745;
  border-color: #28a745;
  outline: none;
}
.modal__btn-update {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  outline: none;
}
.modal__btn-delete {
  background-color: #dc3545;
  border-color: #dc3545;
  outline: none;
}

.modal__btn-cancel {
  background-color: #28a745;
  border-color: #28a745;
  outline: none;
}

/* =============== END TABLE ====================*/
/* ::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

/* =============== START PAGINATION ====================*/
.pagination {
  display: flex;
  justify-content: center;
  width: 27%;
  margin-left: 72.1%;
  margin-top: 15px;
  padding: 8px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.pagination__container {
  display: flex;
}

.pagination__btn {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #666666;
  background-color: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
}

.pagination__btn i {
  pointer-events: none;
}

.pagination__btn:disabled {
  color: #b3b3b3;
  pointer-events: none;
}

.pagination__btn:hover {
  color: #fff;
  background: #4070f4;
}
.pagination__btn-prevNext {
  margin: 0 5px;
}

.pagination__btn-links {
  column-gap: 8px;
}

.pagination__btn-links a {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #666666;
  background-color: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.pagination__btn-links a:hover {
  color: #fff;
  background: #4070f4;
}
.pagination__btn-links a.active {
  color: #fff;
  background: #4070f4;
}

/* =============== END PAGINATION ====================*/

